body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b3d7ff; /* pastel blue */
}

.container {
    width: 80%;
    max-width: 400px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: bold;
    color: #333;
}

#logo-text span {
    display: inline-block;
    opacity: 0;
    animation-name: zoomDrop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes zoomDrop {
    0% {
        transform: scale(0.1) translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

#logo-text span:nth-child(1) {
    animation-delay: 0.1s;
    color: #6baed6; /* pastel blue */
}

#logo-text span:nth-child(2) {
    animation-delay: 0.2s;
}

#logo-text span:nth-child(3) {
    animation-delay: 0.3s;
}

#logo-text span:nth-child(4) {
    animation-delay: 0.4s;
}

#logo-text span:nth-child(5) {
    animation-delay: 0.5s;
}

#logo-text span:nth-child(6) {
    animation-delay: 0.6s;
}

#logo-text span:nth-child(7) {
    animation-delay: 0.7s;
}

#logo-text span:nth-child(8) {
    animation-delay: 0.8s;
}

#logo-text span:nth-child(10) {
    animation-delay: 0.9s;
}

#logo-text span:nth-child(11) {
    animation-delay: 1s;
}

#logo-text span:nth-child(12) {
    animation-delay: 1.1s;
}

#logo-text span:nth-child(13) {
    animation-delay: 1.2s;
    color: #f8e26f; /* pastel yellow */
}

#logo-text span:nth-child(14) {
    animation-delay: 1.3s;
    color: #f8e26f; /* pastel yellow */
}

#start-button {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 120px;
    height: 30  px;
}

#description {
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
}

#categoryBtn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -170px;
}

.category-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 10px;
}

#start-button:hover {
    background-color: #54bcec; /* pastel blue hover color */
    color: #fff;
}

#user-name {
    border-radius: 5%;
    border: none;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 25px;
}

#game-timer {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#question-container {
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

#choices {
    list-style-type: none;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#choices li {
    margin: 10px 0;
}

#next-question {
    margin-top: 20px;
}

#result-container {
    display: none;
    margin-top: 50px;
}

#result {
    font-weight: bold;
}

#correct-answer {
    margin-top: 10px;
}

#choices button {
    border-radius: 2%;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 50px;
}

button:hover {
    background-color: #54bcec; /* pastel blue hover color */
    color: #fff;
}
#next-question {
    border-radius: 5%;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

#next-question:hover {
    background-color: #54bcec; /* pastel blue hover color */
    color: #fff;
}

/* Responsiveness */

@media (min-width: 600px) {
    #logo-text {
        font-size: 40px;
    }

    #start-button {
        font-size: 16px;
    }
}
