/* #logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: bold;
    color: #333;
    text-align: center;
} */

#logo-text span {
    display: inline-block;
    opacity: 0;
    animation-name: zoomDrop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    font-family: cursive;
}

@keyframes zoomDrop {
    0% {
        transform: scale(0.1) translateY(-100px);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}


#logo-text span:nth-child(1) {
    animation-delay: 0.1s;
    color: #f7d632;
    font-size: 50px;
}

#logo-text span:nth-child(2) {
    animation-delay: 0.2s;
    color: #f7d632;
}

#logo-text span:nth-child(3) {
    animation-delay: 0.3s;
    color: #f7d632;
}

#logo-text span:nth-child(4) {
    animation-delay: 0.4s;
    color: #f7d632;
}

#logo-text span:nth-child(5) {
    animation-delay: 0.5s;
    color: #f7d632;
}

#logo-text span:nth-child(6) {
    animation-delay: 0.6s;
    color: #f7d632;
}

#logo-text span:nth-child(7) {
    animation-delay: 0.7s;
    color: #f7d632;
}

#logo-text span:nth-child(8) {
    animation-delay: 0.8s;
    color: #f7d632;
}

#logo-text span:nth-child(10) {
    animation-delay: 0.9s;
    font-size: 50px;
    color: #f7d632;
}

#logo-text span:nth-child(11) {
    animation-delay: 1s;
    color: #f7d632;
}

#logo-text span:nth-child(12) {
    animation-delay: 1.1s;
    color: #f7d632;
}

#logo-text span:nth-child(13) {
    animation-delay: 1.2s;
    color: #f7d632;
}

#logo-text span:nth-child(14) {
    animation-delay: 1.3s;
    color: #f7d632;
}

#logo-text {
    margin: 80px 0px 0px 0px;
    font-size: xx-large;
}

.logo-container {
    height: 450px;

    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2%;
}

#question {
    font-size: large;
    color: #fff;
    font-family: cursive;
}


#choices button {
    border-radius: 2%;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 40px;
    margin: 2px;
}

button:hover {
    background-color: #f7d632;
    color: #fff;
}

.text {
    color: #fff;
    font-family: cursive;
    font-weight: 600;
    text-shadow: 1 5 50px #000000, 0 0 2px #fff, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
}

#description {
    font-family: cursive;
    font-weight: 500;
    text-shadow: 1 5 50px #000000, 0 0 5px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073;
}

#game-timer {
    color: #fff;
    font-weight: 500;
    font-size: x-large;
}

.btn {
    cursor: pointer;
}

.btn-secondary {
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 18px;
}

#volume {
    margin-top: 1vw;
}

.question-container {
    position: relative;
}

.score-display {
    font-size: 18px; 
    font-weight: bold;
    color: white;
    border: 2px solid gray;
    padding: 3px 6px; 
    background-color: rgb(113, 112, 112); 
    position: absolute;
    top: -115px;
    right: 10px;
}

/* 
.fa-music {
    margin-right: 8px; 
} */